<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->


<style>
    /*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1470 {
    padding: var(--sectionPadding);
    background-color: #fafafa;
  }
  #sbs-1470 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-1470 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    /* changes to 433px at desktop */
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-1470 .cs-title {
    max-width: 20ch;
  }
  #sbs-1470 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-1470 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-1470 .cs-ul {
    width: 100%;
    margin: 0 0 1.5rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    column-gap: 2.5rem;
    row-gap: 1rem;
  }
  #sbs-1470 .cs-li {
    font-size: var(--bodyFontSize);
    font-weight: 700;
    line-height: 1.5em;
    list-style: none;
    width: 100%;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: flex-start;
    /* push icon top the top so if the list item goes to two lines the icon stays at the top */
    align-items: flex-start;
    gap: 0.5rem;
  }
  #sbs-1470 .cs-icon {
    width: 1.5rem;
    height: auto;
    /* adds extra space between the icon and top of parent so it's more centered */
    margin-top: 1px;
    display: block;
  }
  #sbs-1470 .button-box {
    width: 100%;
    max-width: 39.375rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  #sbs-1470 .cs-link {
    text-decoration: none;
    padding-right: 2.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    position: relative;
  }
  #sbs-1470 .cs-link:hover .cs-wrapper {
    transform: scale(1.2);
  }
  #sbs-1470 .cs-wrapper {
    width: 3.25rem;
    height: 3.25rem;
    border: 1px solid #e8e8e8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #sbs-1470 .cs-img {
    width: 3.25rem;
    height: auto;
    /* prevents border from affecting height and width */
    box-sizing: border-box;
    border: 2px solid #bababa;
    border-radius: 50%;
  }
  #sbs-1470 .cs-icon {
    width: 1.5rem;
    height: auto;
    display: block;
  }
  #sbs-1470 .cs-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
  }
  #sbs-1470 .cs-header {
    font-size: 1.5625rem;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    color: var(--headerColor);
    display: block;
  }
  #sbs-1470 .cs-phone {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    color: var(--headerColor);
    display: block;
  }
  #sbs-1470 .cs-job {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    color: var(--secondary);
    display: block;
  }
  #sbs-1470 .cs-link-content {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2em;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
  }
  #sbs-1470 .cs-button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    margin: 0;
    padding: 0 3rem;
    background-color: var(--primary);
    overflow: hidden;
    color: #fff;
    border-radius: 1.875rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }
  #sbs-1470 .cs-button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: var(--secondary);
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #sbs-1470 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-1470 .cs-image-group {
    /* scales the whole group based on the view width size and stop when that vales equals .745em, resets at desktop */
    font-size: min(2.15vw, .8em);
    width: 41.25em;
    height: 47.3125em;
    display: block;
    position: relative;
    z-index: 1;
  }
  #sbs-1470 .cs-picture {
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
  }
  #sbs-1470 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbs-1470 .cs-picture1 {
    width: 25.8125em;
    height: 24.25em;
    border: 0.5em solid var(--secondary);
    border-radius: 12.125em;
    top: 0;
    left: -0.5em;
    z-index: -1;
  }
  #sbs-1470 .cs-picture2 {
    width: 18.125em;
    height: 18.125em;
    border: 0.5em solid var(--secondary);
    border-radius: 50%;
    right: -0.5em;
    bottom: 13.25em;
    z-index: 10;
  }
  #sbs-1470 .cs-picture3 {
    width: 23.875em;
    height: 21.8125em;
    border: 0.5em solid var(--secondary);
    border-radius: 8.5em;
    bottom: 0;
    left: -0.5em;
    z-index: -1;
  }
  #sbs-1470 .cs-floater1 {
    width: 10.1875em;
    height: auto;
    position: absolute;
    top: 8.125em;
    right: 4.375em;
    transform: rotate(-38deg);
  }
  #sbs-1470 .cs-floater2 {
    width: 5.0625em;
    height: auto;
    position: absolute;
    top: 22em;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-1470 .cs-link:nth-of-type(1) {
    border-right: 1px solid #e8e8e8;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-1470 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #sbs-1470 .cs-image-group {
    font-size: min(.9vw, 1em);
    flex: none;
  }
}
/* Large Desktop - 1200px */
@media only screen and (min-width: 75rem) {
  #sbs-1470 .cs-image-group {
    font-size: min(1.13vw, 1em);
    flex: none;
  }
}
                                
</style>
<span id="services"></span>
<section id="sbs-1470">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/landscaping.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/landscaping.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/landscaping.jpg" alt="kid" width="413" height="388">
            </picture>
            <!--Middle image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/happy.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/happy.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/happy.jpg" alt="kid" width="290" height="290">
            </picture>
            <!--Bottom right image-->
            <picture class="cs-picture cs-picture3">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/projects.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/projects.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/projects.jpg" alt="kid" width="382" height="349">
            </picture>
            <!--Green Seed-->
            <img class="cs-floater1" style="filter: grayscale(1); opacity: .5;"  loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-seeds-rotated.svg" alt="graphic" width="163" height="121" aria-hidden="true">
            <!--Red Seeds-->
            <img class="cs-floater2" style="filter: grayscale(1); opacity: .5;"  loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/red-seeds.svg" alt="graphic" width="81" height="73" aria-hidden="true">
        </div>
        <div class="cs-content">
            <span class="cs-topper" style="color: var(--secondary);">All Around Property Solutions LLC</span>
            <h2 class="cs-title"> Your All in One Solution for Property Management
            </h2>


            <p class="cs-text">
              At All Around Property Solutions LLC, we make your life easier with:
            </p>
            <ul class="cs-ul">
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                    Landscaping & Snow Removal: Keep your property looking pristine year round.
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                    Handyman Services: From painting to light repairs, no task is too small.
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                    Tree Work & Cleanup: Safe and efficient trimming, removal, and debris hauling.
                </li>
                <li class="cs-li">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/green-check.svg" alt="checkmark" width="24" height="24">
                    Seasonal Maintenance: Fall cleanups, dock removal, and gutter cleaning included.
                </li>
       
            </ul>
            <div class="button-box">
              <a class="cs-link" href="tel:555-555-0234">
                  <picture class="cs-img-wrapper">
                      <img class="cs-img" loading="lazy" decoding="async" src="/assets/images/owner.jpg" alt="profile" width="52" height="52">
                  </picture>
                  <div class="cs-info">
                      <span class="cs-header">Jeremy Dallas</span>
                      <span class="cs-job">Owner</span>
                  </div>
              </a>
              <a class="cs-link" href="tel:{{client.phoneForTel}}">
                  <picture class="cs-wrapper">
                      <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/green-phone.svg" alt="icon" width="24" height="24">
                  </picture>
                  <div class="cs-info">
                      <span class="cs-phone">{{client.phoneForTel}}</span>
                      <span class="cs-link-content">Call Now to Solve Your Property Problems Today!
                      </span>
                  </div>
              </a>
          </div>
           
        </div>
    </div>
</section>
                                