<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<style>
  /*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1330 {
    padding: var(--sectionPadding);
    background-color: #1a1a1a;
  }
  #services-1330 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #services-1330 .cs-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
    /* set text align to left if content needs to be left aligned */
    text-align: center;
  }
  #services-1330 .cs-title {
    color: var(--bodyTextColorWhite);
  }
  #services-1330 .cs-text {
    margin-bottom: 1rem;
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
  #services-1330 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  
  #services-1330 .cs-card-group {
    width: 100%;
    max-width: 52.9375rem;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
    gap: 1rem;
  }
  #services-1330 .cs-item {
    list-style: none;
    /* .cs-h3 and .cs-item-text both use text-align: inherit, so change the below to affect the whole item */
    text-align: left;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    /* 20px - 48px */
    padding: clamp(1.25rem, 3.2vw, 3rem);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    grid-column: span 12;
    flex-direction: column;
    transition: border-color 0.3s;
  }
  #services-1330 .cs-item:hover {
    border-color: var(--primary);
  }
  #services-1330 .cs-item:hover .cs-h3 {
    color: var(--primary);
  }
  #services-1330 .cs-item:hover .cs-item-text {
    color: #fff;
  }
  #services-1330 .cs-item:hover .cs-icon {
    transform: rotateY(360deg) translateY(-0.25rem);
  }
  #services-1330 .cs-picture {
    margin-bottom: 1.25rem;
    border-radius: 50%;
    position: relative;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #services-1330 .cs-icon {
    width: 1.875rem;
    height: auto;
    display: block;
    transition: transform 0.5s;
  }
  #services-1330 .cs-h3 {
    font-size: 1.25rem;
    text-align: inherit;
    line-height: 1.5em;
    margin: 0;
    margin-bottom: 0.75rem;
    color: var(--bodyTextColorWhite);
    transition: color 0.3s;
  }
  #services-1330 .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    text-align: inherit;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1330 .cs-item {
    grid-column: span 6;
    margin: 0;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #services-1330 .cs-container {
    flex-direction: row;
  }
  #services-1330 .cs-content {
    max-width: 21.875rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
  #services-1330 .cs-title {
    max-width: 46.875rem;
  }
  #services-1330 .cs-item {
    max-width: none;
  }
}
                                
</style>


<section id="services-1330">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper">Comprehensive Property Services
          </span>
          <h2 class="cs-title">Everything you need to maintain & enhance your property:
          </h2>
         
      </div>
      <ul class="cs-card-group">
          <li class="cs-item">
              <picture class="cs-picture">
                  <img class="cs-icon" src="/assets/svgs/check.svg"
                          loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
              </picture>
              <!-- Text Grouped For Flexbox-->
              <div class="cs-text-group">
                  <h3 class="cs-h3">Landscaping & Design:</h3>
                  <p class="cs-item-text">
                    Mulch, weeding, hardscaping, and more
                  </p>
              </div>
          </li>
          <li class="cs-item">
              <picture class="cs-picture">
                  <img class="cs-icon" src="/assets/svgs/check.svg"
                          loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
              </picture>
              <!-- Text Grouped For Flexbox-->
              <div class="cs-text-group">
                  <h3 class="cs-h3">Snow Removal:</h3>
                  <p class="cs-item-text">
                    Keep your driveways and walkways clear
                  </p>
              </div>
          </li>
          <li class="cs-item">
              <picture class="cs-picture">
                  <img class="cs-icon" src="/assets/svgs/check.svg"
                          loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
              </picture>
              <!-- Text Grouped For Flexbox-->
              <div class="cs-text-group">
                  <h3 class="cs-h3">Handyman Services:</h3>
                  <p class="cs-item-text">
                     Light repairs, painting, and demo work
                  </p>
              </div>
          </li>
          <li class="cs-item">
              <picture class="cs-picture">
                  <img class="cs-icon" src="/assets/svgs/check.svg"
                          loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
              </picture>
              <!-- Text Grouped For Flexbox-->
              <div class="cs-text-group">
                  <h3 class="cs-h3">Gutter Cleaning & Seasonal Maintenance:</h3>
                  <p class="cs-item-text">Protect your home year round</p>
              </div>
          </li>
      </ul>

      
  </div>
  <DIV style="text-align: center; margin-top: 50px;">   
    <a href="tel:{{client.phoneForTel}}" class="cs-button-solid cs-button1" style="margin: auto;">Call Now: {{client.phoneForTel}}</a>

  </DIV>
</section>
                              