<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->


<style>
    /*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

    /* Mobile - 360px */
    @media only screen and (min-width: 0rem) {

        #RTsbs-601,
        #RTsbsr-601,
        #RTsbst-601 {
            position: relative;
        }

        #RTsbs-601 .cs-container,
        #RTsbsr-601 .cs-container,
        #RTsbst-601 .cs-container {
            width: 100%;
            max-width: 80rem;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        #RTsbs-601 .cs-content,
        #RTsbsr-601 .cs-content,
        #RTsbst-601 .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: 32.625rem;
            /* moved section padding to cs-content so the cs-background can be full width */
            padding: var(--sectionPadding);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        #RTsbs-601 .cs-text,
        #RTsbsr-601 .cs-text,
        #RTsbst-601 .cs-text {
            margin-bottom: 1rem;
        }

        #RTsbs-601 .cs-text:last-of-type,
        #RTsbsr-601 .cs-text:last-of-type,
        #RTsbst-601 .cs-text:last-of-type {
            margin-bottom: 2rem;
        }

        #RTsbs-601 .cs-background,
        #RTsbsr-601 .cs-background,
        #RTsbst-601 .cs-background {
            display: block;
            position: relative;
            width: 100%;
            height: 16rem;
            z-index: 1;
        }

        #RTsbs-601 .cs-background img,
        #RTsbsr-601 .cs-background img,
        #RTsbst-601 .cs-background img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    /* Tablet - 768px */
    @media only screen and (min-width: 48rem) {

        #RTsbs-601,
        #RTsbsr-601,
        #RTsbst-601 {
            /* 90px - 150px */
            /* returned section padding to the section container, this Stitch has 1.5X padding top and bottom than the normal Stitch */
            padding: clamp(5.625rem, 9vw, 9.375rem) 1rem;
        }

        #RTsbs-601 .cs-container,
        #RTsbsr-601 .cs-container,
        #RTsbst-601 .cs-container {
            flex-direction: row;
            justify-content: flex-end;
        }

        #RTsbs-601 .cs-background,
        #RTsbsr-601 .cs-background,
        #RTsbst-601 .cs-background {
            width: 50%;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 50%;
        }

        #RTsbs-601 .cs-content,
        #RTsbsr-601 .cs-content,
        #RTsbst-601 .cs-content {
            width: 45%;
            padding: 0;
        }
    }

    /*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

    /* Mobile - 360px */
    @media only screen and (min-width: 0rem) {
        #RTsbsr-601 {
            background-color: var(--primary);
        }

        #RTsbsr-601 .cs-topper,
        #RTsbsr-601 .cs-title,
        #RTsbsr-601 .cs-text {
            color: var(--bodyTextColorWhite);
        }

        #RTsbsr-601 .cs-text {
            opacity: 0.8;
        }

    }

    /* Mobile - 768px */
    @media only screen and (min-width: 48rem) {
        #RTsbsr-601 .cs-container {
            justify-content: flex-start;
        }

        #RTsbsr-601 .cs-background {
            left: 50%;
            right: auto;
        }
    }
</style>

<section id="RTsbs-601" style="margin-top:150px">
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/about.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/about.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/about.jpg" alt="room" width="960" height="796">
    </picture>
    <div class="cs-container">
        <div class="cs-content" style="margin-top:-50px">
            <span class="cs-topper" style="color: var(--secondary);">About All Around Property Solutions LLC</span>
            <h2 class="cs-title">Your Trusted Metro Detroit Property Partner</h2>
            <p class="cs-text">
                At All Around Property Solutions LLC, we understand how overwhelming property management can be. From
                clogged gutters to snowy driveways, these tasks pile up and steal precious time from your life. That’s
                where we come in - to simplify your to do list and deliver peace of mind with reliable, high quality
                services.
            </p>

            <a href="tel:{{client.phoneForTel}}" class="cs-button-solid cs-button1">Call Now: {{client.phoneForTel}}</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--              Side By Side Reverse            -->
<!-- ============================================ -->

<section id="RTsbsr-601">
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/about2.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/about2.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/about2.jpg" alt="room" width="960" height="796">
    </picture>
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper" style="color:black;">Who We Are</span>
            <h2 class="cs-title" style="color:black;">A Family Owned Business Built on Trust</h2>
            <p class="cs-text" style="color:black;">
                Founded in the heart of Keego Harbor, All Around Property Solutions LLC started with a simple mission:
                to help neighbors maintain their homes and properties with care and professionalism. Over 10 years
                later, that mission has grown into a reputation we’re proud of, recognized as a Neighborhood Fave on
                Nextdoor for exceptional service and reliability.
                <BR><BR>
                We’re fully insured, family owned, and dedicated to building lasting relationships with every client we
                serve.
            </p>

            <a href="tel:{{client.phoneForTel}}" class="cs-button-solid cs-button1">Call Now: {{client.phoneForTel}}</a>
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--              Side By Side Triplet            -->
<!-- ============================================ -->

<section id="RTsbst-601">
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)"
            srcset="/assets/images/about3.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/about3.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/about3.jpg"
            alt="room" width="960" height="796">
    </picture>
    <div class="cs-container">
        <div class="cs-content">

            <h2 class="cs-title">What Sets Us Apart?

            </h2>
            <p class="cs-text">
                <B>Trustworthy Service: </B>Our clients trust us to work on their properties, even while they’re
                away.<BR><BR>
                <B>Quality Workmanship:</B>Every project is handled with precision, from lawn care to handyman
                services.<BR><BR>
                <B>Reliability:</B>You can count on us to show up on time and complete every job to your satisfaction.
                <BR><BR>

            </p>
            <a href="tel:{{client.phoneForTel}}" class="cs-button-solid cs-button1">Call Now: {{client.phoneForTel}}</a>
        </div>
    </div>
</section>