<!-- ============================================ -->
<!--                 Content Page                 -->
<!-- ============================================ -->

<!-- ============================================ 
    This Stitch is used for content heavy interior pages
    that have no design or layout.  Often times these are 
    content silos where you talk extensively about a topic
    to educate your visitors and rank on Google for the 
    content.  These are great for pages that have a TON
    of content.  Design isn't important here, it's all 
    about making the content accessible and easy to read.
================================================= -->


<style>
  /*-- -------------------------- -->
<---        Content Page        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #content-page-714 {
        padding: var(--sectionPadding);
        background-color: #fafafa;
        /* clips the wave background from causing overflow issues when it goes off screen */
        overflow: hidden;
        position: relative;
        z-index: 1;
    }
    #content-page-714 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
        position: relative;
    }
    #content-page-714 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        max-width: 46.125rem;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }
    #content-page-714 .cs-content img {
        width: 100%;
        height: auto;
        margin: 1rem 0;
        display: block;
    }
    #content-page-714 .cs-title {
        font-size: var(--headerFontSize);
        font-weight: 900;
        line-height: 1.2em;
        text-align: inherit;
        width: 100%;
        max-width: 100%;
        margin: 0 0 1rem 0;
        color: var(--headerColor);
        position: relative;
    }
    #content-page-714 h2,
    #content-page-714 h3,
    #content-page-714 h4,
    #content-page-714 h5,
    #content-page-714 h6 {
        font-weight: 700;
        text-align: inherit;
        margin: 0 0 1rem 0;
        color: var(--headerColor);
    }
    #content-page-714 h2 {
        font-size: 2rem;
        margin-top: 2rem;
    }
    #content-page-714 h3 {
        font-size: 1.5rem;
        color: var(--primary);
    }
    #content-page-714 h4,
    #content-page-714 h5,
    #content-page-714 h6 {
        font-size: 1.25rem;
    }
    #content-page-714 .cs-button-solid {
        margin-bottom: 2rem;
    }
    #content-page-714 .cs-color {
        color: var(--primary);
    }
    #content-page-714 p {
        font-size: var(--bodyFontSize);
        line-height: 1.5em;
        text-align: inherit;
        width: 100%;
        margin: 0 0 1rem 0;
        color: var(--bodyTextColor);
    }
    #content-page-714 p:last-of-type {
        margin-bottom: 2rem;
    }
    #content-page-714 p a {
        font-size: inherit;
        line-height: inherit;
        text-decoration: underline;
        color: var(--primary);
    }
    #content-page-714 ol,
    #content-page-714 ul {
        padding-left: 1.5rem;
        margin: 0 0 2rem 0;
        color: var(--bodyTextColor);
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    #content-page-714 ul li {
        list-style: none;
        color: inherit;
        position: relative;
    }
    #content-page-714 ul li:before {
        /* custom list bullet */
        content: "";
        width: 3px;
        height: 3px;
        background: currentColor;
        opacity: 1;
        border-radius: 50%;
        position: absolute;
        display: block;
        top: 0.625rem;
        left: -0.75rem;
    }
    #content-page-714 .cs-image-group {
        /* scales the whole section down and ties the font size to the vw and stops at 70% of the vale of 1em, changes at desktop */
        font-size: min(1vw, 1em);
        /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
        width: 33.875em;
        height: 48.3125em;
        display: none;
        /* prevents flexbox from squishing it */
        flex: none;
        position: relative;
        z-index: 1;
    }
    #content-page-714 .cs-picture {
        width: 33.875em;
        height: 40.4375em;
        border-radius: 17.8125em;
        border: 0.75em solid #ffffff;
        background-color: #f7f7f7;
        /* prevents border from affecting height and width */
        box-sizing: border-box;
        /* clips img tag corners */
        overflow: hidden;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }
    #content-page-714 .cs-picture img {
        width: 100%;
        height: 100%;
        /* makes it act like a background image */
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }
    #content-page-714 .cs-flower {
        width: 22.625em;
        height: auto;
        display: block;
        position: absolute;
        bottom: -2.375em;
        right: -3em;
        z-index: -1;
        transform: rotate(142deg);
    }
    #content-page-714 .cs-sense {
        width: 5em;
        height: auto;
        position: absolute;
        top: -0.25em;
        left: 0.625em;
        transform: rotate(90deg);
    }
    #content-page-714 .cs-background {
        display: none;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #content-page-714 .cs-container {
        flex-direction: row;
        align-items: flex-start;
    }
    #content-page-714 .cs-image-group {
        display: block;
        /* sends it to the left in the 1st position */
        order: -1;
    }
    #content-page-714 .cs-content {
        margin-left: auto;
    }
    #content-page-714 .cs-background {
        width: 20%;
        height: 100%;
        background-color: #f7f7f7;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }
    #content-page-714 .cs-background img {
        width: 100%;
        height: 100%;
        opacity: 0.2;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
}
/* Large Desktop 1300px */
@media only screen and (min-width: 81.25rem) {
    #content-page-714 .cs-image-group {
        /* position absolute so we can have it overflow the container as seen in the design. */
        font-size: inherit;
        position: absolute;
        top: 0rem;
        left: -6.25rem;
    }
    #content-page-714 .cs-background {
        width: 50%;
        /* with the left edge always positioned at the center line, we push right of the center line by 335px.  This ensures that this element will stay exactly in this position no matter hoe wide the screen gets */
        margin-right: 20.9375rem;
        left: auto;
        /* sets the right edge of the element to be at the center line */
        right: 50%;
    }
}

                                
</style>

<section id="content-page-714">
  <div class="cs-container">
      <div class="cs-content">
          <h1 class="cs-title"><span class="cs-color" style="color: var(--secondary);">Comprehensive</span><BR> Property Solutions </h1>
          <h4 style="margin: 20px 0px 30px;">Whether you need a fresh landscape design, seasonal maintenance, or a quick repair, we offer a full range of services to meet your needs:</h2>
          <ull>
              <li><B>Landscaping & Snow Removal:</B> Keep your property looking its best year-round.<BR><BR>

             </li>
              <li>   <B>Handyman Services:</B> From painting to light repairs, we tackle the tasks you don’t have time for.<BR><BR>
                
                </li>
              <li><B>Tree Work & Cleanup:</b> Safe and efficient trimming, removal, and debris hauling.<BR><BR>
                </li>
                <li>
                  <B>Gutter Cleaning & Seasonal Maintenance:</B> Protect your home from costly damag.<BR><BR>
                </li>
          </ul>
          <BR><BR>
          <h4>Why Choose All Around Property Solutions LLC?</h4>
          <p><B>Our goal is simple:</B> to make your life easier. We take pride in transforming homes and properties while providing a stress free experience for our clients. With over a decade of experience and countless satisfied customers, we’ve built a name you can trust.
          <BR><BR>
            Let us handle the hard work while you enjoy the results.</p>

            <a href="tel:{{client.phoneForTel}}" class="cs-button-solid cs-button1">Call Now: {{client.phoneForTel}}</a>
      </div>
      <div class="cs-image-group">
          <picture class="cs-picture">
              <!--Mobile Image-->
              <source media="(max-width: 600px)" srcset="/assets/images/about4.jpg">
              <!--Tablet and above Image-->
              <source media="(min-width: 601px)" srcset="/assets/images/about4.jpg">
              <img loading="lazy" decoding="async" src="/assets/images/about4.jpg" alt="person" width="570" height="680" aria-hidden="true">
          </picture>

     
          <!--Spidey Sense Graphic-->
          <img class="cs-sense" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Fspider-sense.svg" alt="spidey sense graphic" width="80" height="89" aria-hidden="true">
      </div>
  </div>
  <!--Waves Graphic-->
  <picture class="cs-background">
      <img src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FGraphics%2Flarge-waves.svg" alt="waves" decoding="async" aria-hidden="true" width="625" height="952">
  </picture>
</section>
                              