<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<style>
  /*-- -------------------------- -->
<---            CTA             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta-1693 {
    padding: var(--sectionPadding);
    background-color: var(--primaryLight);
    position: relative;
    overflow: hidden;
  }
  #cta-1693 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #cta-1693 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
    gap: 1.5rem;
  }
  #cta-1693 .cs-title {
    max-width: 30ch;
    margin: 0;
    color: #fff;
  }
 
  #cta-1693 .cs-wrapper {
    width: 100%;
    max-width: 120rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    /* prevents the mouse from interacting with it */
    pointer-events: none;
    transform: translateX(-50%);
  }
  #cta-1693 .cs-graphic {
    width: 23.25rem;
    height: 23.25rem;
    opacity: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  #cta-1693 .cs-graphic-1 {
    left: -22.3125rem;
  }
  #cta-1693 .cs-graphic-2 {
    right: -22.3125rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cta-1693 .cs-content {
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
    padding-left:11%;padding-right:11%;
  }
  #cta-1693 .cs-graphic-1 {
    left: -21.8125rem;
  }
  #cta-1693 .cs-graphic-2 {
    right: -21.8125rem;
  }
}

@media only screen and (min-width: 68rem) {
  #cta-1693 .cs-content {
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
    padding-left:1%;padding-right:1%;
  }
}
                                
</style>

<section id="cta-1693">
  <div class="cs-container">
      <div class="cs-content">
        
          <h2 class="cs-title">Get the Towing Help You Need,<BR> When You Need It.<BR>
          
            <a href="tel:{{client.phoneForTel}}" class="cs-title" style="color: var(--primary); text-decoration: none;">
              <img class="cs-link-icon" style="filter: brightness(0) invert(1); height: 30px; width: 30px;" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/phone-1a.svg" alt="icon" width="24" height="24">
              {{client.phoneForTel}}
          </a></h2>
           
          <a href="" class="cs-button-solid" style="background-color: var(--primary); color: black;">Schedule a Tow in Seconds</a>
      </div>
  </div>
  <div class="cs-wrapper">
      <img class="cs-graphic cs-graphic-1" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-logo.png" alt="logo" height="372" width="372" loading="lazy" decoding="async">
      <img class="cs-graphic cs-graphic-2" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/enterprise-logo.png" alt="logo" height="372" width="372" loading="lazy" decoding="async">
  </div>
</section>
                              