<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->



<style>
    /*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #cs-footer-1340 {
        padding: var(--sectionPadding);
        /* 30px - 50px */
        padding-bottom: clamp(1.875rem, 5vw, 3.125rem);
        background-color: #fff;
        position: relative;
    }
    #cs-footer-1340 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        column-gap: 3rem;
        row-gap: 2.5rem;
    }
    #cs-footer-1340 .cs-logo-group {
        /* takes up all the space, lets the other ul's wrap below it */
        width: 100%;
        position: relative;
        background-color: var(--primaryDark);
        padding: 20px;
    }
    #cs-footer-1340 .cs-title {
        font-size: var(--headerFontSize);
        font-weight: 900;
        line-height: 1.2em;
        text-align: inherit;
        max-width: 43.75rem;
        margin: 0 0 1rem 0;
        color: var(--headerColor);
        position: relative;
    }
    #cs-footer-1340 .cs-title {
        margin: 0 0 2rem 0;
        max-width: 23ch;
    }
    #cs-footer-1340 .cs-social {
        display: inline-flex;
        justify-content: flex-start;
        gap: 0.5rem;
    }
    #cs-footer-1340 .cs-social-link {
        width: 2rem;
        height: 2rem;
        background-color: #f7f7f7;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        transition:
            transform 0.3s,
            background-color 0.3s;
    }
    #cs-footer-1340 .cs-social-link:hover {
        background-color: var(--primaryLight);
        transform: translateY(-0.1875rem);
    }
    #cs-footer-1340 .cs-social-img {
        height: 0.75rem;
        width: auto;
        display: block;
    }
    #cs-footer-1340 .cs-header {
        font-size: 1.25rem;
        line-height: 1.5em;
        font-weight: 700;
        margin: 0 0 1.5rem 0;
        color: var(--headerColor);
        display: block;
        position: relative;
    }
    #cs-footer-1340 .cs-ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }
    #cs-footer-1340 .cs-li {
        list-style: none;
    }
    #cs-footer-1340 .cs-link {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        text-decoration: none;
        line-height: 1.5em;
        text-align: left;
        color: var(--bodyTextColor);
        display: inline-flex;
        align-items: flex-start;
        gap: 0.5rem;
        transition: color 0.3s;
    }
    #cs-footer-1340 .cs-link:hover {
        color: var(--primaryLight);
    }
    #cs-footer-1340 .cs-icon {
        width: 1.25rem;
        height: auto;
        margin-right: 0.125rem;
        display: block;
    }
    #cs-footer-1340 .cs-bottom {
        text-align: center;
        width: 100%;
        max-width: 80rem;
        /* 48px - 64px */
        margin: clamp(1.75rem, 7vw, 4rem) auto 0;
        /* 28px - 40px */
        padding-top: clamp(1.75rem, 3vw, 2.5rem);
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.75rem;
    }
    #cs-footer-1340 .cs-credit,
    #cs-footer-1340 .cs-bottom-link,
    #cs-footer-1340 .cs-credit-link {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        text-decoration: none;
        width: auto;
        margin: 0;
        color: var(--bodyTextColor);
        display: inline-block;
        position: relative;
        transition: color 0.3s;
    }
    #cs-footer-1340 .cs-credit {
        width: 100%;
    }
    #cs-footer-1340 .cs-credit-link {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        text-decoration: none;
        width: auto;
        margin: 0;
        color: inherit;
        display: inline-block;
        position: relative;
    }
    #cs-footer-1340 .cs-credit-link:hover {
        color: var(--primary);
    }
    #cs-footer-1340 .cs-bottom-links {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #cs-footer-1340 .cs-bottom-link {
        display: flex;
        align-items: center;
    }
    #cs-footer-1340 .cs-bottom-link:hover {
        color: var(--primary);
    }
    #cs-footer-1340 .cs-bottom-link:last-of-type:before {
        /* seperator */
        content: "";
        width: 1px;
        height: 0.875rem;
        margin: 0 0.75rem;
        background: currentColor;
        opacity: 1;
        display: block;
    }
}
/* Tablet - 768px */
@media only screen and (min-width:54rem) {
    #cs-footer-1340 .cs-container {
        max-width: 80rem;
        /* 48px - 120px */
        column-gap: clamp(3rem, 8vw, 7.5rem);
        flex-wrap: nowrap;
    }
    #cs-footer-1340 .cs-logo-group {
        width:100%;
        max-width: 98.875rem;
        /* pushes the lists away from it and to the right */
        margin-right: auto;
    }
    #cs-footer-1340 .cs-bottom {
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    #cs-footer-1340 .cs-credit {
        text-align: left;
    }
    #cs-footer-1340 .cs-bottom-links {
        justify-content: flex-end;
    }
}

                                
</style>

<footer id="cs-footer-1340">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a href="" class="cs-logo" aria-label="back to home">
                <img style="max-width: 100%; width: 460px; margin: 0px 0px 20px;" src="/assets/images/logo.svg" alt="logo" width="197"
                    height="auto" aria-hidden="true" decoding="async">
            </a>
      
            <DIV style="text-align: center; padding: 30px;">
                
                <span class="cs-title" style="color: white; font-size: 24px; text-transform: uppercase;">Contact Us</span>
                <a style="margin: 20px;" href="tel:{{client.phoneForTel}}" class="cs-button-solid">Book Now</a>
           
            </DIV>
            <DIV style="background-color: white; padding: 5px 5px;">
            {% include 'components/social-links.html' %}</DIV>
        </div>
        <!-- Links -->
        <div class="cs-ul-wrapper">
            <span class="cs-header">{{client.name}}</span>
            <ul id="cs-expanded" class="cs-ul">
                {% set navPages = collections.all | eleventyNavigation %}

                {# Loop through all pages with a eleventyNavigation in the frontmatter #}
                {% for entry in navPages %}

                {# Define a hasChild variable to make it easier to test what navigation items are have child
                dropdown pages #}
                {% set hasChild = entry.children.length %}

                {# Check the frontmatter for hideOnMobile/hideOnDesktop. Form a list of classes to be joined when
                the item is rendered #}
                {% set hideClasses = [] %}
                {% if entry.hideOnMobile %}
                {% set hideClasses = (hideClasses.push("cs-hide-on-mobile"), hideClasses) %}
                {% endif %}
                {% if entry.hideOnDesktop %}
                {% set hideClasses = (hideClasses.push("cs-hide-on-desktop"), hideClasses) %}
                {% endif %}

                {# If this page is a dropdown, give it the appropriate classes, icons and accessibility attributes
                #}
                <li class="cs-li {% if hasChild %} cs-dropdown {% endif %} {{ hideClasses | join(" ") }}">

                    {# If the page has child dropdown pages, render it as a <button> tag with the appropriate
                        dropdown HTML #}
                        {% if hasChild %}

                        {# Check to see if the user's current page is one of the child pages. If so, apply the
                        cs-active class to the dropdown parent #}
                        {% set activeClass = "" %}
                        {% for child in entry.children %}
                        {% if child.url == page.url %}
                        {% set activeClass = "cs-active" %}
                        {% endif %}
                        {% endfor %}

                        {# Render the <button> with the active class, dropdown icon and child links #}
                            <button class="cs-link cs-dropdown-button {{ activeClass }}" aria-expanded="false"
                                aria-controls="dropdown-{{ entry.key }}" aria-label="dropdown-{{ entry.key }}">
                                {{ entry.key }}
                                <img class="cs-drop-icon" style="filter: brightness(0) invert(1);"
                                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fdown.svg"
                                    alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
                            </button>

                            {# Dropdowns have another ul/li set up within the parent li, which gets rendered in the
                            same way as a normal link #}
                            <ul class="cs-drop-ul" id="dropdown-{{ entry.key }}">
                                {% for child in entry.children %}
                                <li class="cs-drop-li">
                                    <a href="{{ child.url }}" class="cs-link cs-drop-link">{{ child.key }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            {# Normal pages are rendered as <a> tags, in the normal way you'd expect #}
                                <a href="{{ entry.url }}"
                                    class="cs-link {% if entry.url == page.url %} cs-active {% endif %}" {% if
                                    entry.url==page.url %} aria-current="page" {% endif %}>
                                    {{ entry.key }}
                                </a>
                                {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>



        
        <div class="cs-ul-wrapper" style="min-width: 180px;">
            <span class="cs-header">Service Hours</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    Sun: 8:00am - 10:00pm 
                </li>
              
                <li class="cs-li">
                    Sun: 8:00am - 10:00pm 
                </li>
              
                <li class="cs-li">
                    Sun: 8:00am - 10:00pm 
                </li>
              
                <li class="cs-li">
                    Sun: 8:00am - 10:00pm 
                </li>
              
                <li class="cs-li">
                    Sun: 8:00am - 10:00pm 
                </li>
              
                <li class="cs-li">
                    Sun: 8:00am - 10:00pm 
                </li>
              
                <li class="cs-li">
                    Sun: 8:00am - 10:00pm 
                </li>
              
            </ul>
        </div>



        <div class="cs-ul-wrapper">
            <!-- Contact Info -->
            <span class="cs-header">Contact</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a class="cs-link" href="tel:{{client.phoneForTel}}">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/phone-1a.svg" alt="phone icon" width="24" height="24">
                        {{client.phoneForTel}}
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="mailto:office@email.com">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/email-1a.svg" alt="email icon" width="24" height="24">
                        {{client.email}}
                    </a>
                </li>
                <li class="cs-li">
                    <!--Make this link go to the google page-->
                    <a class="cs-link" href="" target="_blank">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pin-1a.svg" alt="pin icon" width="24" height="24">
                        {{client.address.lineOne}}
                        {{client.address.city}}
                        {{client.address.state}}
                        {{client.address.zip}}
                        
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="cs-bottom">
        <span class="cs-credit">
            © Copyright 2023 <a href="" class="cs-credit-link" target="_blank">Invetex</a>
        </span>
        <div class="cs-bottom-links">
            <a href="" class="cs-bottom-link">Privacy Policy</a>
            <a href="" class="cs-bottom-link">Terms Of Use</a>
        </div>
    </div>
</footer>
                                