<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<style>
    /*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-2150 {
    /* 300px - 400px on top - leaving extra space for the navigation */
    /* 60px - 100px on bottom */
    padding: clamp(10rem, 40vw, 15rem) 2rem clamp(3.75rem, 7.5vw, 6.25rem) 2rem;
    /* prevents the topper line from causing an overflow */
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #hero-2150 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 48px - 60px */
    gap: clamp(3rem, 6vw, 3.75rem);
  }
  #hero-2150 .cs-content {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #hero-2150 .cs-title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 5vw, 3.8125rem);
    max-width: 30ch;
    color: var(--bodyTextColorWhite);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .9);
  }
  #hero-2150 .cs-text {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    max-width: 55ch;
    margin-bottom: 2rem;
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
  #hero-2150 .cs-button-solid {

    background-color: var(--primaryLight);
    color: black;

  }
 
  #hero-2150 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 32px - 60px */
    row-gap: clamp(2rem, 4vw, 3.75rem);
  }
  #hero-2150 .cs-item {
    text-align: left;
    list-style: none;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-column: span 12;
    gap: 1rem;
  }
  #hero-2150 .cs-icon-group {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  #hero-2150 .cs-icon {
    width: 2rem;
    height: auto;
    display: block;
  }
  #hero-2150 .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0;
    color: var(--bodyTextColorWhite);
    transition: color 0.3s;
  }
  #hero-2150 .cs-item-text {
    /* 16px - 20px */
    font-size: clamp(1rem, 2vw, 1.25rem);
    line-height: 1.5em;
    text-align: inherit;
    margin: 0;
    color: #F7F7F7;
    opacity: 0.8;
  }
  #hero-2150 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #hero-2150 .cs-background:before {
    /* Overlay */
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 100%);
    /* prevents the cursor from interacting with it */
    pointer-events: none;
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #hero-2150 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {

    #hero-2150 .cs-background:before {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0) 100%);
    }
  #hero-2150 .cs-container {
    max-width: 80rem;
  }
  #hero-2150 .cs-item {
    grid-column: span 4;
  }
  #hero-2150 .cs-card-group {
    /* 24px - 60px */
    margin-top: clamp(1.5rem, 3vw, 3.75rem);
    /* 32px - 60px */
    column-gap: clamp(2rem, 4vw, 3.75rem);
  }
}
                                
</style>>

<section id="hero-2150">
    <div class="cs-container">
        <div class="cs-content">
            
            <h1 class="cs-title" data-aos="flip-right">Detroit Property Management<BR>& Handyman Services
            </h1>
            <p class="cs-text">
                Your Metro Detroit Partner for Quality Work, From Lawn Care to Home Repairs. Fully Insured, Family Owned, and Dedicated to Your Satisfaction.

            </p>
            <a href="tel:{{client.phoneForTel}}" class="cs-button-solid cs-button1">Call Now: {{client.phoneForTel}}</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-icon-group">
                    <picture class="cs-icon-picture">
                        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="none" viewBox="0 0 24 24" id="nextdoor">
                            <path fill="#8BC94D" d="M2.5 3.75C2.08579 3.75 1.75 4.08579 1.75 4.5V7.5C1.75 9.84721 3.65279 11.75 6 11.75H6.75V19.5C6.75 19.9142 7.08579 20.25 7.5 20.25H11.5C11.9142 20.25 12.25 19.9142 12.25 19.5V11.5C12.25 10.2574 13.2574 9.25 14.5 9.25C15.7426 9.25 16.75 10.2574 16.75 11.5V19.5C16.75 19.9142 17.0858 20.25 17.5 20.25H21.5C21.9142 20.25 22.25 19.9142 22.25 19.5V11.5C22.25 7.21979 18.7802 3.75 14.5 3.75C11.7881 3.75 9.40238 5.14326 8.01833 7.25H8C7.58579 7.25 7.25 6.91421 7.25 6.5V4.5C7.25 4.08579 6.91421 3.75 6.5 3.75H2.5Z"></path>
                          </svg>                    </picture>
                    <h3 class="cs-h3">Neighborhood Fave</h3>
                </div>
                <p class="cs-item-text">
                    Recognized as a Neighborhood Fave on Nextdoor, we’re the trusted choice for local homeowners. Your neighbors celebrate our commitment to quality and reliability. Let us earn your trust too!            </li>
            <li class="cs-item">
                <div class="cs-icon-group">
                    <picture class="cs-icon-picture">
                        <img class="cs-icon" src="/assets/svgs/check.svg" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">

                    </picture>
                    <h3 class="cs-h3"> 10+ Years of Reliable Service</h3>
                </div>
                <p class="cs-item-text">Count on our expertise to handle all your property needs with professionalism and care. From landscaping to handyman services, we’ve been proudly serving Metro Detroit for over a decade.</p>
            </li>
            <li class="cs-item">
                <div class="cs-icon-group">
                    <picture class="cs-icon-picture">
                        <img class="cs-icon" src="/assets/svgs/check.svg" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">

                    </picture>
                    <h3 class="cs-h3">Fully Insured</h3>
                </div>
                <p class="cs-item-text">Rest easy knowing your property is in trusted hands. Our team is fully insured, ensuring peace of mind for every project, big or small.
                </p>
            </li>
        </ul>
    </div>
    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/bg.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/bg.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/bg.jpg" alt="wedding couple" width="1920" height="1162" aria-hidden="true">
    </picture>
</section>
                                