---
title: 'Blog'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'blog/'
eleventyNavigation:
    key: Blog
    order: 600
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/blog.css">
{% endblock %}

{% block body %}
   

{% include 'components/header_blog.html' %}

    <!-- ============================================ -->
    <!--              Main Blog Content               -->
    <!-- ============================================ -->

    <div class="blog-container main-content-wrapper">
        <!--Main content -->
        <div class="main-content">
            <!-- ============================================ -->
            <!--                 Blog Articles                -->
            <!-- ============================================ -->

            {% if collections.post | length == 0 %}
                <h1>No Recent Posts</h1>
            {% else %}
                {%- for post in collections.post | reverse -%}
                    <article class="recent-articles">

                        <!--Article Info-->
                        <div class="article-group">
                            <div class="blog-authorGroup">
                               
                               
                                <!--Blog Date-->
                                <span class="blog-date">{{ post.date | postDate }}</span>
                            </div>
                            <h2 class="blog-h1">
                                <a href="{{ post.url }}" class="blog-h1">{{ post.data.title }}</a>
                            </h2>
                            <p class="blog-desc">
                                {{ post.data.description }}
                            </p>
                            <a href="{{ post.url }}" class="cs-button-solid">Read Full Post</a>
                        </div>
                    </article>
                {%- endfor -%}
            {% endif %}
        </div>

      
    </div>
{% endblock %}