---
title: 'Trusted Detroit Roofing Experts | Quality Roof Repair & Replacement'
description: 'Detroit Roofing Experts provide top-quality roof repair, replacement, and maintenance to protect your home. Trust us for reliable and affordable roofing solutions'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

  
    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

{% endblock %}

{% block body %}


   
{% include 'components/hero.html' %}


{% include 'components/herostats.html' %}

{% include 'components/2.html' %}
{% include 'components/3services.html' %}

{% include 'components/cta.html' %}
{% include 'components/steps.html' %}
{% include 'components/4homegallery.html' %}
{% include 'components/testimonial.html' %}

{% include 'components/faq.html' %}
{% include 'components/map.html' %}

{% include 'components/cta.html' %}
    {% endblock %}