---
title: 'Experienced UI & UX Designer | Danny Skelley - Driving Results for Brands Start Ups and Fortune 100 Companies'
description: 'With 15 years designing for global brands start ups Danny Skelley delivers impactful UX & UI design, responsive websites, and scalable design systems. Ready to bring your vision to life? Lets connect!'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

  
    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

{% endblock %}

{% block body %}

    
{% include 'components/hero.html' %}


{% include 'components/3.html' %}


{% include 'components/4.html' %}





    {% endblock %}